<div [class.collection-char-set]="true" [class.collection-char-set1]="setType == 'health'" [class.collection-char-set2]="setType == 'offense'"
	[class.collection-char-set3]="setType == 'defense'" [class.collection-char-set4]="setType == 'speed'" [class.collection-char-set5]="setType == 'critChance'"
	[class.collection-char-set6]="setType == 'critDmg'" [class.collection-char-set7]="setType == 'potency'" [class.collection-char-set8]="setType == 'tenacity'"
	[class.collection-char-set-max]="true"></div>