<div *ngIf="showFourPiece == true">
	<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.speed > 0">
		<app-mod-set-icon [setType]="'speed'"></app-mod-set-icon>
		{{ round(setTotals.speed / (setTotals.setTypeTotal) * 100) }}
	</div>
	<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.offense  > 0">
		<app-mod-set-icon [setType]="'offense'"></app-mod-set-icon>
		{{ round(setTotals.offense / (setTotals.setTypeTotal) * 100) }}
	</div>
	<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.critDmg  > 0">
		<app-mod-set-icon [setType]="'critDmg'"></app-mod-set-icon>
		{{ round(setTotals.critDmg / (setTotals.setTypeTotal) * 100) }}
	</div>
	<hr>
</div>

<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.health  > 0">
	<app-mod-set-icon [setType]="'health'"></app-mod-set-icon>
	{{ round(setTotals.health / (setTotals.setTypeTotal) * 100) }}
</div>
<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.defense  > 0">
	<app-mod-set-icon [setType]="'defense'"></app-mod-set-icon>
	{{ round(setTotals.defense / (setTotals.setTypeTotal) * 100) }}
</div>
<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.critChance  > 0">
	<app-mod-set-icon [setType]="'critChance'"></app-mod-set-icon>
	{{ round(setTotals.critChance / (setTotals.setTypeTotal) * 100) }}
</div>
<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.potency  > 0">
	<app-mod-set-icon [setType]="'potency'"></app-mod-set-icon>
	{{ round(setTotals.potency / (setTotals.setTypeTotal) * 100) }}
</div>
<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts.tenacity  > 0">
	<app-mod-set-icon [setType]="'tenacity'"></app-mod-set-icon>
	{{ round(setTotals.tenacity / (setTotals.setTypeTotal) * 100) }}
</div>