<div *ngIf="showFourPiece == true">

	<div *ngFor="let set of fourSetArray">
		<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts[set] > 0" *ngIf="setTotals[set] != 0 || (highlightSetTotalCounts != null && highlightSetTotalCounts[set] > 0)">
			<span class="primary-piece-label ">	<app-mod-set-icon [setType]="set"></app-mod-set-icon></span> {{ round( (setTotals[set]
			/ setTotals.setTypeTotal) * 100) }}% - {{ setTotals[set] }}
		</div>
	</div>

	<hr>
</div>

<div *ngFor="let set of twoSetArray">
	<div ngClass="flow row" [class.highlight]="highlightSetTotalCounts != null && highlightSetTotalCounts[set] > 0" *ngIf="setTotals[set] != 0 || (highlightSetTotalCounts != null && highlightSetTotalCounts[set] > 0)">
		<span class="primary-piece-label ">	<app-mod-set-icon [setType]="set"></app-mod-set-icon></span> {{ round( (setTotals[set]
		/ setTotals.setTypeTotal) * 100) }}% - {{ setTotals[set] }}
	</div>
</div>