<app-progress-spinner></app-progress-spinner>
<h4 mat-dialog-title>Load Player</h4>
<mat-dialog-content>

	<div class="flow row">
		<mat-form-field>
			<mat-label>Player Ally Code</mat-label>
			<input matInput [(ngModel)]="playerId" [readonly]="lockInput">
		</mat-form-field>
	</div>

	<div class="flow row">
		<mat-form-field [style.width]="'350px'">
			<mat-label>Hot Utils Session</mat-label>
			<input matInput [(ngModel)]="playerHotutils">
		</mat-form-field>
	</div>

</mat-dialog-content>

<div mat-dialog-actions align="end">
	<button mat-button (click)="onOk()" [disabled]="formComplete() == false">Ok</button>

</div>
