/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.button-spinner {
    float: right;
    margin: 5px 10px 0px 0px;
}

.same-line {
    display: inline-block;
}

.route-content {
    padding: 5px;
}


.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.thick {
    font-weight: bold;
}