/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.button-spinner {
    float: right;
    margin: 5px 10px 0px 0px;
}

.same-line {
    display: inline-block;
}

.route-content {
    padding: 5px;
}