<div>
	<app-progress-spinner></app-progress-spinner>

	<div *ngIf="viewMode == VIEW_REVIEW_ALL_CHARACTERS">
		<mat-toolbar>

			<button mat-icon-button class="navigation-selected" matTooltip="Character list">
    			<mat-icon>home</mat-icon>
  			</button>

			<button mat-icon-button (click)="updateViewMode(VIEW_EDIT_SQUAD)" matTooltip="Manage squads">
    			<mat-icon>group</mat-icon>
  			</button>

			<mat-divider class="style-fix" [vertical]="true"></mat-divider>

			<button mat-icon-button [matMenuTriggerFor]="sortSummaryMenu" matTooltip="Sort characters">
				<mat-icon>sort</mat-icon>
			</button>

			<mat-menu #sortSummaryMenu="matMenu">
				<button mat-menu-item (click)="setSortPower()" [class.thick]="summarySort == ENUM_SORT_TYPE.POWER">Power</button>
				<button mat-menu-item (click)="setSortSpeed()" [class.thick]="summarySort == ENUM_SORT_TYPE.SPEED">Speed</button>
				<button mat-menu-item (click)="setSortOffense()" [class.thick]="summarySort == ENUM_SORT_TYPE.OFFENSE">Offense</button>
				<button mat-menu-item (click)="setSortHealth()" [class.thick]="summarySort == ENUM_SORT_TYPE.HEALTH">Health</button>
				<button mat-menu-item (click)="setSortProtection()" [class.thick]="summarySort == ENUM_SORT_TYPE.PROTECTION">Protection</button>
				<button mat-menu-item (click)="setSortPotency()" [class.thick]="summarySort == ENUM_SORT_TYPE.POTENCY">Potency</button>
				<button mat-menu-item (click)="setSortTenacity()" [class.thick]="summarySort == ENUM_SORT_TYPE.TENACITY">Tenacity</button>
			</mat-menu>

			<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Filter characters">
				<mat-icon>filter_list</mat-icon>
			</button>

			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="setReviewFilterAll()">All</button>
				<button mat-menu-item (click)="updateViewMode(VIEW_EDIT_SQUAD)">Manage Squads</button>
				<button mat-menu-item [matMenuTriggerFor]="squadsMenu">Squads</button>
				<button mat-menu-item [matMenuTriggerFor]="categoriesMenu">Categories</button>
				<button mat-menu-item (click)="setReviewFilterMovedMods()">Moved Mods</button>
			</mat-menu>

			<mat-menu #squadsMenu="matMenu">
				<button *ngFor="let squad of squadDtos" mat-menu-item (click)="setReviewFilterSquad(squad.characters)"><mat-icon *ngIf="squad.allLocked" aria-hidden="false" >locked</mat-icon> {{ squad.label }} </button>
			</mat-menu>
			<mat-menu #categoriesMenu="matMenu">
				<button *ngFor="let category of categoryList" mat-menu-item (click)="setReviewFilterCategory(category)">{{ category }}</button>
			</mat-menu>


			<span class="spacer"></span>
			<button mat-icon-button (click)="clickCleanUpData()" matTooltip="Delete data">
    			<mat-icon>delete</mat-icon>
  			</button>
			<button mat-icon-button (click)="clickRefreshData()" matTooltip="Refresh player data">
    			<mat-icon>refresh</mat-icon>
  			</button>
			<button mat-icon-button (click)="openAccountDetails()">
    			<mat-icon>account_circle</mat-icon>
  			</button>
		</mat-toolbar>

		<cdk-virtual-scroll-viewport [itemSize]="displayModeSettings.modCharacterReviewHeight" [minBufferPx]="displayModeSettings.modEditorHeight"
			[maxBufferPx]="displayModeSettings.modEditorHeight + 200" [style.width]="'100%'" [style.height]="displayModeSettings.modEditorHeight + 'px'">

			<div *cdkVirtualFor="let character of summaryViewCharacters; let index=index; let odd=odd; let even=even;" [class.odd]="odd"
				[style.height]="displayModeSettings.modCharacterReviewHeight + 'px'">

				<app-character-mod-summary [lockedMods]="allLockedMods" [allLocked]="character.lockedMods != null && character.lockedMods.length == 6"
					(modsClicked)="modCharacter(character.name)" [modDto]="character" (toggleLock)="toggleSummaryLock(character)"></app-character-mod-summary>

			</div>

		</cdk-virtual-scroll-viewport>

	</div>

	<div [class.hidden]="viewMode != VIEW_EDIT_SQUAD">

		<mat-toolbar>

			<button mat-icon-button (click)="updateViewMode(VIEW_REVIEW_ALL_CHARACTERS)" matTooltip="Character list">
    			<mat-icon>home</mat-icon>
  			</button>

			<button mat-icon-button class="navigation-selected" matTooltip="Manage squads">
    			<mat-icon>group</mat-icon>
  			</button>

			<span class="spacer"></span>
			<button mat-icon-button (click)="clickCleanUpData()" matTooltip="Delete data">
    			<mat-icon>delete</mat-icon>
  			</button>
			<button mat-icon-button (click)="clickRefreshData()" matTooltip="Refresh player data">
    			<mat-icon>refresh</mat-icon>
  			</button>
			<button mat-icon-button (click)="openAccountDetails()">
    			<mat-icon>account_circle</mat-icon>
  			</button>
		</mat-toolbar>

		<app-squad-manager #squadManager (updateSquads)="updateSquads($event)" [characterGroups]="saveData.squads"></app-squad-manager>

	</div>


	<div [class.hidden]="viewMode != VIEW_MODS">
		<mat-toolbar>
			<button mat-icon-button (click)="updateViewMode(VIEW_REVIEW_ALL_CHARACTERS)" matTooltip="Character list">
    			<mat-icon>home</mat-icon>
  			</button>

			<button mat-icon-button matTooltip="Manage squads">
    			<mat-icon>group</mat-icon>
  			</button>

			<mat-divider class="style-fix" [vertical]="true"></mat-divider>

			<app-character-portrait #characterPortrait [maxHeight]="'50px'" [showName]="false"></app-character-portrait>
			<button mat-icon-button (click)="modPreviousCharacter()" matTooltip="Previous Character">
    			<mat-icon>navigate_before</mat-icon>
  			</button>
			<button mat-icon-button (click)="modNextCharacter()" matTooltip="Next Character">
    			<mat-icon>navigate_next</mat-icon>
  			</button>
			<button mat-icon-button [matMenuTriggerFor]="changeCharacterMenu" *ngIf="reviewFilterType != null" matTooltip="Quick Select Character">
    			<mat-icon>more_vert</mat-icon>
  			</button>
			<mat-menu #changeCharacterMenu="matMenu">
				<button mat-menu-item *ngFor="let character of summaryViewCharacters" [class.thick]="false" (click)="modCharacter(character.name)">
					 {{ character.label }}
				</button>
			</mat-menu>

			<mat-divider class="style-fix" [vertical]="true"></mat-divider>

			<button mat-icon-button (click)="toggleLock(selectedCharacterDto)" matTooltip="Lock Mods">
				<mat-icon>{{ allLocked(selectedCharacterDto) ? 'lock' : 'lock_open' }}</mat-icon>
  			</button>

			<button mat-icon-button (click)="resetMods(selectedCharacterDto.name)" matTooltip="Reset to In-Game Mods">
    			<mat-icon>skip_previous</mat-icon>
  			</button>

			<button mat-icon-button (click)="revertMods(selectedCharacterDto.name)" matTooltip="Revert to Locked Mods">
    			<mat-icon class="rotate-180">play_arrow</mat-icon>
  			</button>

			<button mat-icon-button (click)="clickOptimizeCharacter(selectedCharacterDto.name)" matTooltip="Optimize Mods">
    			<mat-icon>offline_bolt</mat-icon>
  			</button>

			<button mat-icon-button (click)="clickViewOptimizationSettings(selectedCharacterDto.name)" matTooltip="Character Optimization Settings">
    			<mat-icon>settings</mat-icon>
  			</button>

			<mat-divider class="style-fix" [vertical]="true"></mat-divider>


			<button mat-icon-button [matMenuTriggerFor]="sortMenu" matTooltip="Sort Mods">
				<mat-icon>sort</mat-icon>
			</button>
			<mat-menu #sortMenu="matMenu">
				<button mat-menu-item (click)="setModSort('strength')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'strength'">Optimization</span>
				</button>
				<button mat-menu-item (click)="setModSort('speed')">
					<span  [class.thick]="selectedModEditorViewConfiguration?.sort == 'speed'">Speed</span>
				</button>
				<button mat-menu-item (click)="setModSort('physicalOffense')">
					<span  [class.thick]="selectedModEditorViewConfiguration?.sort == 'physicalOffense'">Physcial Offense</span>
				</button>
				<button mat-menu-item (click)="setModSort('specialOffense')">
					<span  [class.thick]="selectedModEditorViewConfiguration?.sort == 'specialOffense'">Special Offense</span>
				</button>
				<button mat-menu-item (click)="setModSort('critChance')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'critChance'">Crit Chance</span>
				</button>
				<button mat-menu-item (click)="setModSort('health')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'health'">Health</span>
				</button>
				<button mat-menu-item (click)="setModSort('protection')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'protection'">Protection</span>
				</button>
				<button mat-menu-item (click)="setModSort('potency')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'potency'">Potency</span>
				</button>
				<button mat-menu-item (click)="setModSort('tenacity')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'tenacity'">Tenacity</span>
				</button>
				<button mat-menu-item (click)="setModSort('physicalDefense')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'physicalDefense'">Physcial Defense</span>
				</button>
				<button mat-menu-item (click)="setModSort('specialDefense')">
					<span [class.thick]="selectedModEditorViewConfiguration?.sort == 'specialDefense'">Special Defense</span>
				</button>
			</mat-menu>

			<button mat-icon-button (click)="openModFilterOptions()" matTooltip="Filter Mods">
    			<mat-icon>filter_list</mat-icon>
  			</button>

			<button mat-icon-button [class.filter-selected]="filterLocked == false" (click)="toggleLockedFilter()" matTooltip="Show\Hide locked mods"> 
					<mat-icon>wifi_lock</mat-icon>
				</button>

			<mat-divider class="style-fix" [vertical]="true"></mat-divider>



			<span class="spacer"></span>

			<button mat-icon-button (click)="clickCleanUpData()" matTooltip="Delete data">
    			<mat-icon>delete</mat-icon>
  			</button>
			<button mat-icon-button (click)="clickRefreshData()" matTooltip="Refresh player data">
    			<mat-icon>refresh</mat-icon>
  			</button>
			<button mat-icon-button (click)="openAccountDetails()">
    			<mat-icon>account_circle</mat-icon>
  			</button>
		</mat-toolbar>

		<!-- I AM HERE -->

		<div class="flow row">
			<!-- left hand side of editor -->
			<div class="flow" [class.row]="displayModeSettings.mini" [class.mod-left-col]="displayModeSettings.mini  == false" [style.width]="displayModeSettings.mini  ? null : displayModeSettings.modLeftPaneWidth + 'px'"
				[style.height]="displayModeSettings.mini  ? '380px' : displayModeSettings.modEditorHeight + 'px'">
				<div class="mat-elevation-z8 full-width">
					<div class="">
						<div class="flow row">
							<!--<div class="flow row" [class.hidden]="displayModeSettings.mini">
								<app-mod-set-summary #modSetSummaryComponents></app-mod-set-summary>
							</div>-->
							<div class="flow column">
								<app-mod-display #pendingModsDisplay (modClicked)="clickModDisplayMod($event)" [class.hidden]="selectedCharacterDto == null || selectedCharacterDto.lockedMods == null"></app-mod-display>

								<div fxHide [fxShow.lt-md]="selectedSlotMod != null">
									<app-mod-portrait #selectedSlotModPortrait [showStatsSmall]="true"></app-mod-portrait>
								</div>
							</div>
							<div class="flow row " [class.row]="displayModeSettings.mini == false" [class.column]="displayModeSettings.mini">
								<div [class.scrollable]="displayModeSettings.mini == false" [style.height]="displayModeSettings.mini  ? null : displayModeSettings.modEditorHeight - 350 + 'px'">
									<div fxShow class="horizontal-scroll">
										<app-mod-set-comparison #compareCurrentPending></app-mod-set-comparison>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- right hand side of  editor -->
			<div class="flow" [class.row]="displayModeSettings.mini" [class.column]="displayModeSettings.mini  == false">
				<div class="flow row">
					<app-mod-list-component (selectMod)="setPending($event)"></app-mod-list-component>
				</div>
			</div>
		</div>

	</div>

</div>