<h4 mat-dialog-title>Confirm</h4>
<mat-dialog-content>


	<mat-checkbox *ngIf="confirmationText != null" name="confirmation" [(ngModel)]="confirmation">{{ confirmationText }}</mat-checkbox>


	<mat-radio-group class="my-radio-group" *ngIf="options != null" [(ngModel)]="selectedOption">
		<mat-radio-button class="my-radio-button" *ngFor="let option of options" [value]="option.value">
			{{option.text}}
		</mat-radio-button>
	</mat-radio-group>

</mat-dialog-content>

<div mat-dialog-actions align="end">
	<button mat-button (click)="onOk()">Ok</button>
	<button mat-button (click)="onClose()">Close</button>
</div>