<div *ngIf="mod != null" [id]="mod.id">
	<div >
		<div class="mod-summary mod-content-item mod-locked" [style.width]="displayModeSettings.mini && large == false ? '180px' : null">
			<div class="mod-dots mod-content-item" *ngIf="displayModeSettings.mini == false || large == true">
				<div class="mod-dot mod-content-item"></div>
				<div class="mod-dot mod-content-item"></div>
				<div class="mod-dot mod-content-item"></div>
				<div class="mod-dot mod-content-item"></div>
				<div class="mod-dot mod-content-item"></div>
			</div>
			<div *ngIf="displayModeSettings.mini && large == false" [style.height]="'10px'">
				
			</div>				
			<!-- Slot ICON -->
			<div [class]="'mod Std' + mod.slot + '-' + mod.tier + '-' + mod.rarity + '  mod-content-item'" *ngIf="displayModeSettings.mini == false || large == true">
				<div [class]="'mod-content-item mod-icon icon-slot' + mod.slot + ' icon-set-' + mod.set + '-' + mod.tier + ''"></div>
			</div>
			<div *ngIf="displayModeSettings.mini && large == false" [style.height]="'90px'">
				
			</div>			
			<!-- Slot ICON -->
			<div class="mod-content-item mod-stats" [style.left]="displayModeSettings.mini && large == false ? '45px' : null">
				<div class="mod-content-item stat-primary">+{{ mod?.primary_stat?.display_value }} {{ mod?.primary_stat?.name }}</div>
				<div *ngFor="let secondary of mod?.secondary_stats" [class]="'mod-content-item stat-secondary roll-' + secondary.roll + ''">+{{ secondary.display_value }} {{ secondary.name }} ({{secondary.roll}})</div>
			</div>

			<div *ngIf="mod.character != null" [style.left]="displayModeSettings.mini && large == false ? '0px' : null" class="mod-character-image" [style.white-space]="'pre-line'" [style.background-image]="getPortraitStyleUrl()"></div>
			<div *ngIf="mod.character == null" class="character-filler" [style.white-space]="'pre-line'"></div>
			<div *ngIf="locked" style="white-space: pre-line;" title="Locked In Game" class="mod-locked-image"></div>
			<!--<div style="white-space: pre-line;" title="Locked In Game" class="mod-locked-image"></div>-->
		</div>
	</div>

</div>