<div class="route-content">
	<app-progress-spinner></app-progress-spinner>
	<app-guild-player-selector [selectorLabel]="'Model Guild ID'" (selectionChange)="selectPlayers($event)"></app-guild-player-selector>
	<!--<app-guild-selector (loadGuild)='loadGuild($event)' [selectorLabel]="'Model Guild ID'"></app-guild-selector>-->

	<div *ngIf="calculatedGuildData != null">

		<!--<div>
			<app-player-filter #playerFilter (selectionChange)="selectPlayers($event)"></app-player-filter>
		</div>-->
		<div>
			<app-player-selector (selectPlayer)='selectTargetPlayer($event)' [selectorLabel]="'Target Player'"></app-player-selector>
		</div>
		<div>
			<app-character-filter (selectionChange)="selectCharacters($event)"></app-character-filter>
		</div>


		<div class="mat-elevation-z8">

			<div ngClass="flow row" ngClass.lt-sm="hide">
				<div class="character-col"> Character </div>
				<div class="set-col"> Set </div>
				<div class="primary-col"> Circle </div>
				<div class="primary-col"> Cross </div>
				<div class="primary-col"> Triangle </div>
				<div class="primary-col"> Arrow </div>
			</div>

			<div class="scrollable-container">

				<div *ngFor="let element of selectedUnits(calculatedComparedResults); let index=index; let odd=odd; let even=even;" [class.odd]="odd">

					<div ngClass="flow row" ngClass.lt-sm="flow column" (click)="expandedCharacter = expandedCharacter != element.modelResults.name ? expandedCharacter = element.modelResults.name : null">
						<div class="character-col">
							<app-character-identifier [baseId]="element.modelResults.name"></app-character-identifier>
						</div>
						<div class="set-col">

							<div [class.error-set]="element.missingTarget && calculatedPlayerData != null">
								<app-mod-set-icon [setType]="element.modelResults.commonSet1" *ngIf="element.modelResults.commonSet1"></app-mod-set-icon>
								<app-mod-set-icon [setType]="element.modelResults.commonSet2" *ngIf="element.modelResults.commonSet2"></app-mod-set-icon>
								<app-mod-set-icon [setType]="element.modelResults.commonSet3" *ngIf="element.modelResults.commonSet3"></app-mod-set-icon>
							</div>
							<div *ngIf="element.missingTarget == false && element.targetResults != null && element.sameSets == false">
								<hr>
								<app-mod-set-icon [setType]="element.targetResults.commonSet1" *ngIf="element.targetResults.commonSet1" [ngClass]="{ 'error-set': element.set1Warning == 'ERROR', 'warning-set': element.set1Warning == 'WARNING'}"></app-mod-set-icon>
								<app-mod-set-icon [setType]="element.targetResults.commonSet2" *ngIf="element.targetResults.commonSet2" [ngClass]="{ 'error-set': element.set2Warning == 'ERROR', 'warning-set': element.set2Warning == 'WARNING'}"></app-mod-set-icon>
								<app-mod-set-icon [setType]="element.targetResults.commonSet3" *ngIf="element.targetResults.commonSet3" [ngClass]="{ 'error-set': element.set3Warning == 'ERROR', 'warning-set': element.set3Warning == 'WARNING'}"></app-mod-set-icon>
							</div>
						</div>
						<div class="primary-col">
							<span class="hide" ngClass.lt-sm="primary-piece-label">Circle:</span>
							<span [class.wrong-set]="calculatedPlayerData != null && (element.targetResults == null || (element.modelResults.commonCircle != element.targetResults.commonCircle))">
								{{element.modelResults.commonCircle}}</span>
						</div>
						<div class="primary-col">
							<span class="hide" ngClass.lt-sm="primary-piece-label">Cross:</span>
							<span [class.wrong-set]="calculatedPlayerData != null && (element.targetResults == null || (element.modelResults.commonCross != element.targetResults.commonCross))">
								{{element.modelResults.commonCross}}</span>
						</div>
						<div class="primary-col">
							<span class="hide" ngClass.lt-sm="primary-piece-label">Triangle:</span>
							<span [class.wrong-set]="calculatedPlayerData != null && (element.targetResults == null || (element.modelResults.commonTriangle != element.targetResults.commonTriangle))">
								{{element.modelResults.commonTriangle}}</span>
						</div>
						<div class="primary-col">
							<span class="hide" ngClass.lt-sm="primary-piece-label">Arrow:</span>
							<span [class.wrong-set]="calculatedPlayerData != null && (element.targetResults == null || (element.modelResults.commonArrow != element.targetResults.commonArrow))">
								{{element.modelResults.commonArrow}}</span>
						</div>
					</div>

					<!-- details -->
					<div ngClass="flow row" *ngIf="expandedCharacter == element.modelResults.name">

						<div ngClass="flow row">

							<div ngClass="flow column" ngClass.lt-sm="flow row">
								<app-mod-set-percentages [highlightSetTotalCounts]="element.targetResults == null ? null : element.targetResults.allSetTotals"
									[setTotals]="element.modelResults.allSetTotals" [showFourPiece]="true"></app-mod-set-percentages>

							</div>

							<div ngClass="flow column" ngClass.lt-sm="flow row">

								<app-mod-primary-percentages [label]="'Circle'" [highlightPrimary]="element.targetResults == null ? null : element.targetResults.commonCircle"
									[primaryCounts]="element.modelResults.circlePrimaryCounts" [total]="getSetTotal(element.modelResults)"></app-mod-primary-percentages>

							</div>
							<div ngClass="flow column" ngClass.lt-sm="flow row">

								<app-mod-primary-percentages [label]="'Cross'" [highlightPrimary]="element.targetResults == null ? null : element.targetResults.commonCross"
									[primaryCounts]="element.modelResults.crossPrimaryCounts" [total]="getSetTotal(element.modelResults)"></app-mod-primary-percentages>

							</div>
							<div ngClass="flow column" ngClass.lt-sm="flow row">

								<app-mod-primary-percentages [label]="'Triangle'" [highlightPrimary]="element.targetResults == null ? null : element.targetResults.commonTriangle"
									[primaryCounts]="element.modelResults.trianglePrimaryCounts" [total]="getSetTotal(element.modelResults)"></app-mod-primary-percentages>

							</div>
							<div ngClass="flow column" ngClass.lt-sm="flow row">

								<app-mod-primary-percentages [label]="'Arrow'" [highlightPrimary]="element.targetResults == null ? null : element.targetResults.commonArrow"
									[primaryCounts]="element.modelResults.arrowPrimaryCounts" [total]="getSetTotal(element.modelResults)"></app-mod-primary-percentages>

							</div>
						</div>
						<div ngClass="flow row">
							<div *ngFor="let secondaryCounts of element.modelResults.secondaryCounts" ngClass="flow row">
								<span class="primary-piece-label">	{{ round(secondaryCounts.rolls/element.modelResults.allSetTotals.setTypeTotal)}}: {{ secondaryCounts.name }}</span>

								<div *ngFor="let scType of secondaryCounts.types; let index=index; let odd=oddI; let even=evenI;">

									<span class="primary-piece-label">{{ round(scType.value/element.modelResults.allSetTotals.setTypeTotal * scType.multiplier)}}{{scType.type}}</span>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>