<div [class]="'statmod pc-statmod statmod-small pc-statmod-slot' + slot + ' statmod-t5 statmod--max-level'">
	<div class="statmod-summary">
		<div class="statmod-preview">
			<div [class]="'statmod-base statmod-base--size-small statmod-base--tier-5 statmod-base--slot-' + slot + ' statmod-base--set-1'">
				<div [class]="'statmod-base-inner statmod-base-inner--shapekey-5-' + slot + '-5 statmod-base-inner--iconkey-1-5'">
					<div class="statmod-base-shape"></div>
				</div>
			</div>
		</div>
	</div>
</div>