.padded {
    padding: 10px;
}

.portrait-column {
    max-width: 180px;
    padding: 10px;
}

.horizontal-scroll {
    overflow: auto;
    white-space: nowrap;
    /* Scrollbar is displayed as it's needed */
}

.centered-content {
    width: 50%;
    margin: 0 auto;
}